.scoreBoard{
    position: fixed;
    color: rgb(255 255 255);
    font-size: 0.875rem; 
    line-height: 1.25rem;
    top: 0.5rem;
    left: 0.5rem;
    user-select: none;
}

.restartUi{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restartUi-1{
    background-color: rgb(255, 255, 255);
    max-width: 28rem;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
}

.bigScoreEl{
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    line-height: 1;
}

.pointsText{
    user-select: none;
    font-size: 0.875rem; 
    line-height: 1.25rem;
    color: rgb(55 65 81);
    margin-bottom: 1rem;
}

.startButton{
    font-size: 0.875rem; 
    line-height: 1.25rem;
    width: 100%;
    background-color: rgb(59 130 246);
    border-color: rgb(255 255 255);
    color: rgb(255 255 255);
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem;
    border-radius: 9999px;
}

.developerButton{
    bottom: 1rem; /* 16px */
    right: 1rem; /* 16px */
    background-color: rgb(81, 81, 81);
    border-color: rgb(81, 81, 81);
    color: rgb(255 255 255);
    position: fixed;
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    padding-top: 0.75rem; /* 12px */
    padding-bottom: 0.75rem; /* 12px */
    border-radius: 9999px;
}